@import "../../../styles//Screen.scss";

.card {
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(39, 40, 53, 0.1);
  border-radius: 10px;
  height: 350px;
  padding: 1rem;
  overflow: hidden;
  @include tablet {
    margin: 0 !important;
  }
}
