:root {
  --main-color: #002979;
  --sec-color: #4778ec;
  --page-background: #e8eff6;
  --textMain-color: #272835;
  --textSec-color: #8f92a1;
  --textNeutral-color: #cccccc;
  --rightNav-color: #f9f8f9;
  --Poppins: "Poppins", sans-serif;
  --Dm-San: "DM Sans", sans-serif;
}
